div.add_photo {
  border: 2px dotted;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  border-color: #919090;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  label.label_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    svg.add_icon {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      margin: 5px 0;
      cursor: pointer;
    }
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 39%;
    opacity: 0;
    opacity: 0;
    cursor: pointer;
  }
}

/* ----------------------------

    M E D I A  Q U E R I E S

------------------------------ */

@media screen and (min-width: 320px) and (max-width: 420px) {
  div.add_photo {
    border: 2px dotted;
    height: 18em;
    width: 100%;
    // max-width: 20em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 421px) and (max-width: 576px) {
  div.add_photo {
    border: 2px dotted;
    height: 25em;
    width: 100%;
    // max-width: 24em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 577px) {
  div.add_photo {
    border: 2px dotted;
    height: 16em;
    width: 100%;
    // max-width: 20em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) {
  div.add_photo {
    border: 2px dotted;
    height: 13.1em;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 992px) {
  div.add_photo {
    border: 2px dotted;
    height: 10em;
    width: 100%;
    // max-width: 12em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1200px) {
  div.add_photo {
    border: 2px dotted;
    height: 12em;
    width: 100%;
    // max-width: 12em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1400px) {
  div.add_photo {
    border: 2px dotted;
    height: 15em;
    width: 100%;
    // max-width: 12em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1600px) and (max-width: 2000px){
  div.add_photo {
    border: 2px dotted;
    height: 20em;
    width: 100%;
    // max-width: 12em;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #919090;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    label.label_block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;

      svg.add_icon {
        display: block;
        height: 1.5rem;
        width: 1.5rem;
        margin: 5px 0;
        cursor: pointer;
      }
    }

    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 39%;
      opacity: 0;
      opacity: 0;
      cursor: pointer;
    }
  }
}