.add_photo {
    border: 1px dotted;
    height: 150px;
    width: 170px;
    margin: 0 auto;
    border-radius: 8px;
    border-color: #969393;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }