div.image_container {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  width: 70vw;
  height: auto;
  padding: 3% 3%;
  border-radius: 15px;
  box-shadow: inset 0 -3em 3em rgba(0, 200, 0, 0.3), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(200, 0, 0, 0.6);

  & > div:not(:last-child) {
    cursor: pointer;
    transition: ease-in-out 30ms;
    position: relative;

    &:hover{
      opacity: .8;
    }
  }

  & > div:not(:first-child, :last-child) {
    border: 1px solid #c5c2c2;
    border-radius: 8px;
    text-align: center;
    height: 150px;
    width: 170px;
    margin: 0 auto;
    overflow: hidden;
    transition: opacity 20ms;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    input {
      position: absolute;
      left: 20px;
      top: 20px;
      cursor: pointer;
      display: none;
    }

    &:hover{
      opacity: 0.5;
      input{
        display: block;
      }
    }
  }

  & > div:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    width: 360px;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    transition: opacity 20ms;
    
    img {
      height: 100%;
      width: 80%;
      object-fit: cover;
    }

    input {
      position: absolute;
      left: 20px;
      top: 20px;
      cursor: pointer;
      display: none;
    }

    &:hover{
      opacity: 0.5;
      input{
        display: block;
      }
    }
  }
}
