section.topHeader_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 30px;

  & > div {
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  & > div:first-child {
    svg.tickIcon {
      color: #0000ff87;
    }

    span {
      margin-left: 5px;
      font-size: large;
      font-weight: 600;
      color: #3a3b3c;
    }
  }

  & > div:last-child {
    span {
      color: #ea462f;
      font-weight: 600;
      font-size: medium;
    }
  }
}
